﻿@page
@model Amazon_Affiliate.Pages.Items.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.ItemName" class="control-label"></label>
                <input asp-for="Item.ItemName" class="form-control" />
                <span asp-validation-for="Item.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <textarea asp-for="Item.Description" class="form-control"></textarea>
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Rating" class="control-label"></label>
                <select asp-for="Item.Rating" class="form-control" asp-items="Html.GetEnumSelectList<Item.ItemRating>()"></select>
                <span asp-validation-for="Item.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.AffiliateLink" class="control-label"></label>
                <input asp-for="Item.AffiliateLink" class="form-control" />
                <a href="https://affiliate-program.amazon.com/" class="btn btn-sm btn-dark w-50 mb-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Create Affiliate Link</a>
                <span asp-validation-for="Item.AffiliateLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Category" class="control-label"></label>
                <select asp-for="Item.Category" class="form-control" asp-items="Html.GetEnumSelectList<Item.ItemCategory>()"></select>
                <span asp-validation-for="Item.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.DateAdded" class="control-label"></label>
                <input asp-for="Item.DateAdded" class="form-control" />
                <span asp-validation-for="Item.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label asp-for="Item.Picture" class="control-label"></label>
                    </dt>
                    <dd>
                        <input asp-for="Item.Picture" type="file">
                    </dd>
                </dl>
                <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
                <span asp-validation-for="Item.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
