﻿@page
@model Amazon_Affiliate.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <script>

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */

        function myFunction1() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }

            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        function filterFunction1() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown2");
            b = div.getElementsByTagName("b");
            for (i = 0; i < b.length; i++) {
                txtValue = b[i].textContent || b[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    b[i].style.display = "";
                } else {
                    b[i].style.display = "none";
                }
            }
        }

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }
        function filterFunction2() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown3");
            b = div.getElementsByTagName("b");
            for (i = 0; i < b.length; i++) {
                txtValue = b[i].textContent || b[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    b[i].style.display = "";
                } else {
                    b[i].style.display = "none";
                }
            }
        }




    </script>



    <style>

        /*GRID CSS*/
        .item1 {
            grid-area: Post1;
        }

        .item2 {
            grid-area: Post2;
        }

        .item3 {
            grid-area: Post3;
        }

        .item4 {
            grid-area: Post4;
        }

        .item5 {
            grid-area: Post5;
        }

        .item6 {
            grid-area: Post6;
        }

        .item7 {
            grid-area: Post7;
        }

        .item8 {
            grid-area: Post8;
        }

        .item9 {
            grid-area: Post9;
        }


        .grid-container {
            display: grid;
            grid-template-areas: 'Post1 Post2 Post3' 'Post4 Post5 Post6' 'Post7 Post8 Post9';
            grid-gap: 5px;
            background-color: black;
            padding: 5px;
            grid-template-rows: 500px 500px 500px;
        }

            .grid-container > div {
                background-color: white;
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
            }

        /*THIS IS FOR THE FILTER BUTTONS*/

        /* Dropdown Button */
        .dropbtn {
            background-color: black;
            color: white;
            padding: 10px 100px;
            font-size: 14px;
            border: none;
            cursor: pointer;
            margin-top: 100px;
            margin-bottom: 50px;
            resize: both;
        }

        div.relative {
            position: relative;
            left: 60px;
        }

        div.relative2 {
            position: relative;
            left: 160px;
        }

        div.relative3 {
            position: relative;
            left: 270px;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The search field */
        #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
        }

            /* The search field when it gets focus/clicked on */
            #myInput:focus {
                outline: 3px solid #ddd;
            }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            border: 1px solid #ddd;
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }
    </style>






    <div class="dropdown">
        <div class="relative">
            <button onclick="myFunction1()" class="dropbtn">Category</button>
            <div id="myDropdown" class="dropdown-content">

                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#clothingshoes">Clothing and Shoes</a>
                <a href="#jewelery">Jewelery</a>
                <a href="#books">Books</a>
                <a href="#moviesmusicgames">Movies, Music and Games</a>
                <a href="#electronicscomputers">Electronics and Computers</a>
                <a href="#office">Office</a>
                <a href="#homegardentools">Home, Garden and Tools</a>
                <a href="#petsupplies">Pet Supplies</a>
                <a href="#foodgrocery">Food and Grocery</a>
                <a href="#beautyhealth">Beauty and Health</a>
                <a href="#toyskidsbaby">Toys, Kids and Baby</a>
                <a href="#sportsoutdoors">Sports and Outdoors</a>
                <a href="#automotiveindustrial">Automotive and Industrial</a>


            </div>
        </div>
    </div>

    <div class="dropdown">
        <div class="relative2">
            <button onclick="myFunction2()" class="dropbtn">Popularity</button>
            <div id="myDropdown2" class="dropdown-content">

                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction1()">
                <a href="#mostpopular">Most Popular</a>
                <a href="#leastpopular">Least Popular</a>



            </div>
        </div>
    </div>

    <div class="dropdown">
        <div class="relative3">
            <button onclick="myFunction3()" class="dropbtn">Time</button>
            <div id="myDropdown3" class="dropdown-content">

                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction2()">
                <a href="#daily">Daily</a>
                <a href="#weekly">Weekly</a>
                <a href="#monthly">Monthly</a>




            </div>
        </div>
    </div>

    <p>
        <a asp-page="Create">Add New Item</a>
    </p>


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">


                @foreach (var item in Model.Item)
                {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">

                        <div class="container">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </div>

                        <div class="container">
                            @Html.DisplayFor(modelItem => item.Rating)
                        </div>
                        <img class="card-img-top" data-src=@item.Picture alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src=@item.Picture data-holder-rendered="true">

                        <div class="container">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        <div class="col-md px-2">
                            <a href="@item.AffiliateLink" class="btn btn-lg btn-bd-primary w-100 mb-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Item page</a>
                            <a asp-page="./Edit" class=btn-dark style="padding:5px" asp-route-id="@item.ID">Edit</a>
                            <a asp-page="./Delete" class=btn-dark style="padding:5px" asp-route-id="@item.ID">Delete</a>
                        </div>

                        </div>
                    </div>

                }
            </div>
        </div>


</head>

